KICK_CHANNEL=<channelname>
KICK_BOT_USERNAME=<channelname>
KICK_PUSHER_KEY=
KICK_PUSHER_CLUSTER=
KICK_PUSHER_HOST=
KICK_TOKEN=
KICK_XSRF_TOKEN=
KICK_SESSION_COOKIE=
KICK_COOKIE_HEADER=
DEBUG_CHAT=1
LOG_CHAT_EVENTS=0
